.hero-unit
  %h1 Brockhill Forecaster fo sho!
  %p Determine project sprint/completion dates based on story estimates in your project backlog using the AgileZen api
  = form_for @project, url: projects_path, method: :get, html: {class: 'form form-inline'} do |f|
    = f.label :api_key, "Your AgileZen API key:"
    = f.text_field :api_key
    = button_tag "Start", class: 'btn btn-primary'