.hero-unit
  %h1 Brockhill Forecaster
  %p Create estimates of your backlog using the AgileZen API
  = form_for @project, url: projects_path, method: :get, html: {class: 'form form-inline'} do |f|
    = f.label :api_key, "Your AgileZen API key:"
    = f.text_field :api_key, class: 'span4'
    = button_tag "Start", class: 'btn btn-primary'