!!!
%head
  %title Brockhill Forecaster
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  .navbar
    .navbar-inner
      .container
        %a.brand{href: '/'} Brockhill Forecaster
        %ul.nav
          %li
            %a{href: 'https://github.com/jeffperrin/brockhill-forecaster'} View the code on GitHub
  .container
    = yield
